html,body{
  padding:0;
  margin:0;
}

.layoutMenu{
  width:250px;
  height: 800px;
  float: left;
  padding:0;
  margin:0;
  border-right:'1px solid #eee'; 
}


.layoutContainer{
  position: relative;
  min-height: 800px;
  margin-left:250px;

  .main{
    padding:20px;
    
  }

}